<div class= "cointainer">
    <div class "row">

        <div class="item" >
            <div class="animated rotateIn">
                <div class="col-md offset-md-2">
                    <div class="col-md col-md-6">
                        <p> 
<br> <br>
            <h4><u>Hire a car with us</u></h4>
            <br> In Kisii? new to the place or not? You need a taxi to get to your destination? Don't worry we
            got you. Get the best price on a minicab or  taxis across town and the region.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <br>
    <div class="container">
        <div id="row">
            <h2>About Us</h2>
            <hr>
            <div class="col-md col-md-4">
                <p class="text-center">
                <%= image_tag "configuration.png" %> </p>
                <p>We offer cabs for hire around Kisii town and its outskirts.
                Our cabs are in great condition and our drivers are experienced.
                Our priority is to get you to your destination in time.
                Kisii cabs and taxis  rides take you door to door, it greatly reduces the
                effort of switching between multiple modes of transport, 
                taking the stress out of your travel and often resulting in a faster journey.    
                </p>
            </div>
            <div class="col-md col-md-8">
                    <p class="text-center">
                    <%= image_tag "renting.png" %></p>
                    <p>
                    If you are visiting the town or you just need a ride around the region and would like to use our services, call us or email us using the information 
                    at the bottom of the page. Our prices are affordable and customer satisfaction is our main priority.  
                    Our packages are charged hourly, the  minimum period being an hour and can extend up to to a couple of days. We accept mobile money transfer so don't
                    worry if you don't have cash on you. With Kisii cabs and taxis you get cabs at your disposal for as long as you want and travel to
                    multiple destinations with just one booking within county limits.
                    We are flexible and can work with reasonable last minute bookings.<br>
                    For any enquiries don't hesitate to contact us.
                    </p>
            </div>
        </div>
    </div>
    <%# <div class="container"> %>
        <%# <h2> Places to visit</h2> %>
        <%# <hr> %>
        <%# </div> %>
    <div class="container">
        <h3>Hear from Kisii cabs and taxi riders </h3>
        <big class="text-muted"> This is what our customers had to say</big>
        <div class="row">
            <div class="col-md-2 offset-md-2">
                <p><%= image_tag "u.png" %></p></div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-1"></div>
            <div class="col-md col-md-8">
                <p> We were new to Mumbai and Ola Rentals
                helped us go to multiple places in the same cab.
                The helpful driver also gave 
                us a free tour of the iconic places on the way. </p>
            </div>

        </div>
        <div class="row">
        <div class="col-md-10 offset-md-10"></div>
                <p><%= image_tag "d.png" %></p>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2">
            <p><%= image_tag "u.png" %></p></div>
    </div>
    <div class="row">
        <div class="col-md-1 offset-md-1"></div>
        <div class="col-md col-md-8">
            <p> We were new to Mumbai and Ola Rentals
            helped us go to multiple places in the same cab.
            The helpful driver also gave 
            us a free tour of the iconic places on the way. </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-10 offset-md-10"></div>
        <p><%= image_tag "d.png" %></p>
    </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-2 offset-md-2">
            <p><%= image_tag "u.png" %></p></div>
    </div>
    <div class="row">
        <div class="col-md-1 offset-md-1"></div>
        <div class="col-md col-md-8">
            <p> We were new to Mumbai and Ola Rentals
            helped us go to multiple places in the same cab.
            The helpful driver also gave 
            us a free tour of the iconic places on the way. </p>
        </div>

        </div>
        <div class="row">
        <div class="col-md-10 offset-md-10"></div>
                <p><%= image_tag "d.png" %></p>
        </div>
        </div>
    </div>

    </div>
        <div class="row">
            <%# <div class= "medium-3 columns"> %>
            <%#     <%= image_tag "saf.jpeg" %1> %>
            <%# </div> %>
            <%# <div class= "medium-3 columns"> %>
            <%#     <%= image_tag "gazel.jpeg" %1> %>
            <%# </div> %>
            <%# <div class= "medium-3 columns"> %>
            <%#     <%= image_tag "saf.jpeg" %1> %>
            <%# </div> %>
            <%# <div class= "medium-3 columns"> %>
            <%#     <%= image_tag "gazel.jpeg" %1> %>
            <%# </div> %>
        </div>
    <%# </div> %>

