<div class "row">

    <div class="item" >
    <%# <h1 class="header">Lafex Tours and Safari</h1> %>
        <div class="animated rotateIn">
            <div class="medium-6">
                <div class="medium-offset-4 columns">
            <p> 
            <h4><u>Hire a car with us</u></h4>
            <br> In Kisii? new to the place or not? You need a taxi to get to your destination? Don't worry we
            got you. Get the best price on a minicab or  taxis across town and the region.</p>
        </div>
        </div>
        </div>
        </div>
    </div>
    <br>
    <div id="home">
        <div id="row">
        <h2 class="text-center">What We do</h2>
        <hr>
            <div class="medium-6 columns">
                <p class="text-center">
                <%= image_tag "configuration.png" %></p>
                <p>Pull requests are the way to go here. I apologise in advance for the
                slow action on pull requests and issues. I only have two rules for submitting
                a pull request: match the naming convention (camelCase, categorised [fades, bounces, etc]) 
                and let us see a demo of submitted animations in a pen. That last one is important. 
                </p>
            </div>
            <div class="medium-6 columns">
                <p class="text-center">
                <%= image_tag "renting.png" %></p>
                <p> Pull requests are the way to go here. I apologise in advance for the
                slow action on pull requests and issues. I only have two rules for submitting
                a pull request: match the naming convention (camelCase, categorised [fades, bounces, etc]) 
                and let us see a demo of submitted animations in a pen. That last one is important. 
                </p>
            </div>
    </div>
        <div class="row">
            <%# <div class= "medium-3 columns"> %>
            <%#     <%= image_tag "saf.jpeg" %1> %>
            <%# </div> %>
            <%# <div class= "medium-3 columns"> %>
            <%#     <%= image_tag "gazel.jpeg" %1> %>
            <%# </div> %>
            <%# <div class= "medium-3 columns"> %>
            <%#     <%= image_tag "saf.jpeg" %1> %>
            <%# </div> %>
            <%# <div class= "medium-3 columns"> %>
            <%#     <%= image_tag "gazel.jpeg" %1> %>
            <%# </div> %>
        </div>
    <%# </div> %>

